Using pandas, create a pandas Series from the list below.
Write a code to find how many times each item appears in
the list.

In [2]:
import pandas as pd
list1 = ["wood", "red", "red", "white", "blue", "red"]
# Create a pandas Series
colour_series = pd.Series(list1)
# find how many times an item appears in the list
colour_series.value_counts()

red      3
wood     1
white    1
blue     1
Name: count, dtype: int64

Using pandas, write code to check if red, white, or black
are in the Series.

In [4]:
colors = ["red", "white", "black"]
is_in_series = colour_series.isin(colors)
is_in_series

0    False
1     True
2     True
3     True
4    False
5     True
dtype: bool

Using pandas, write code to return all unique values from
the Series.

In [5]:
unique_values = colour_series.unique()
unique_values

array(['wood', 'red', 'white', 'blue'], dtype=object)

Using the pandas update() method, write code to update the
Series you created in question 1. Add green and orange to
the series. The color green will be at index 0, and orange
will be at index 2.

In [6]:
updates = {0: "green", 2: "orange"}
colour_series.update(pd.Series(updates))
colour_series

0     green
1       red
2    orange
3     white
4      blue
5       red
dtype: object

Write code to check the number of dimensions of your
updated Series (question 4). Write another line of code to
convert the Series into a DataFrame. Your DataFrame
should have one column of colors. Check the shape and
number of dimensions of your DataFrame. Your
DataFrame must have a shape of (6, 1).

In [10]:
# Checking for dimensions in the series
colour_series.ndim

# Update the series to a DataFrame
colour_df = pd.DataFrame(colour_series, columns=["colors"])
colour_df

# Checking the dimensions for the DataFrame
colour_df.ndim

# Checking the shape of the DataFrame
colour_df.shape

(6, 1)