Your task is to import the CSV file using NumPyâ€™s
genfromtxt() function.
 1. Transpose the array.
 2. Using slicing, create three arrays: an array of all the
names in the column, an array of the age column,
and an array of the gender (sex) column.

In [14]:
import numpy as np
# Import a csv file
arr = np.genfromtxt('names_age_sex_data.csv', delimiter = ',', dtype = 'str')


#transpose array
transposed_arr = arr.T


# Slice to create three array
names = transposed_arr[0:1, 1:]
age = transposed_arr[2:3, 1:]
gender = transposed_arr[1:2, 1:]
print(names)
print(age)
print(gender)

[['Grace' 'Charlie' 'Olivia' 'Frank' 'Charlie' 'Olivia' 'Mia' 'Jos'
  'Peter' 'Olivia' 'Charlie' 'David' 'Kate' 'Thomas' 'Alice' 'Rob'
  'Piper' 'Kate' 'Liam' 'Quinn' 'Charlie' 'David' 'Ryan' 'Kate' 'John'
  'kelly']]
[['18' '60' '27' '55' '53' '39' '60' '56' '44' '57' '41' '39' '49' '37'
  '63' '56' '96' '41' '19' '34' '54' '18' '49' '19' '21' '21']]
[['Male' 'Female' 'Female' 'Male' 'Male' 'Male' 'Female' 'Male' 'Male'
  'Female' 'Female' 'Female' 'Female' 'Female' 'Female' 'Male' 'Female'
  'Female' 'Female' 'Female' 'Male' 'Male' 'Female' 'Male' 'Male'
  'Female']]

Using NumPy, write code that returns all the names of
people who are 56 years old.

In [15]:
# Return all the names of people who are 56 years
aged_56 = names[age == '56']
print(aged_56)

['Jos' 'Rob']

How many people are aged 44 or under?

In [17]:
# Number of people aged 44 or under
age_44_under = names[age <= '44']
num_of_44_under = np.shape(age_44_under)
print(num_of_44_under)

(14,)

Write another code snippet to return an array of all the
males in the dataset. How many males are in the dataset?

In [19]:
# array of all males in the dataset
males = names[gender == 'Male']
num_of_males = np.shape(males)
print(num_of_males)

(11,)

Calculate the average age of all the females in the table.

In [21]:
# Average of all females
age = age.astype(int)
avg_females = np.average(age[gender == 'Female'])
print(avg_females)

46.2

Calculate the average age of people named Olivia and
Kate.

In [23]:
# average of people named Olivia
olivia = np.average(age[names == 'Olivia'])
print(olivia)

# average of people named Kate
kate = np.average(age[names == 'Kate'])
print(kate)

# average of both olivia and kate
avg_olivia_kate = (olivia + kate)/2
print(avg_olivia_kate)

41.0
36.333333333333336
38.66666666666667