In [1]:
import pandas as pd
list1 = [[1,  2,  3], [4,  5,  6], [7,  8,  9]]

1. Create a DataFrame from the list above with three columns
[A, B, C].

In [2]:
df = pd.DataFrame(list1, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

2. Using the pandas .at attribute access the number 9 from
your DataFrame.

In [3]:
df.at[2, 'C']

np.int64(9)

3. Write another code using the .at attribute to change the
number 9 to 10.

In [4]:
df.at[2, 'C'] = 10
df

   A  B   C
0  1  2   3
1  4  5   6
2  7  8  10

4. Create a DataFrame using the data below:

In [5]:
names = ["John", "Mary", "Peter"]
age = [27, 34, 47]
gender = ["male", "female", "female"]

df2 = pd.DataFrame({"name": names, "age": age, "gender": gender})
df2

    name  age  gender
0   John   27    male
1   Mary   34  female
2  Peter   47  female

Using the .loc attribute, access the age of John from the
DataFrame.

In [6]:
john_age = df2.loc[df2['name'] == 'John', 'age']
john_age

0    27
Name: age, dtype: int64

5. Using the .loc attribute change the gender of Peter from
"female" to "male."

In [8]:
df2.loc[df2['name'] == 'Peter', 'gender'] = 'male'
df2

    name  age  gender
0   John   27    male
1   Mary   34  female
2  Peter   47    male

6. Write code to extract a subset of the DataFrame containing
only male individuals. Write another code to retrieve the
name and age of the oldest male from the modified
DataFrame.

In [11]:
male = 'male'
male_df = df2[df2['gender'] == male]
male_df

oldest = male_df.sort_values('age', ascending=False).iloc[0]
oldest

name      Peter
age          47
gender     male
Name: 2, dtype: object