In [2]:
import numpy as np
list_str = ["23", "12",  "90",  "28",  "30"]

Create a NumPy array with the list above. Calculate the
standard deviation of the array.

In [4]:
# Creating the array
arr = np.array(list_str)
arr

# Calculate std, but first convert array from string to integer
standard_deviation = arr.astype(np.int64).std()
standard_deviation

np.float64(27.419700946582186)

Write a code to change the data type of the array you
created in question one (1) to a floating data type. Save this
as a new variable.

In [5]:
arr1 = arr.astype(float)
arr1

array([23., 12., 90., 28., 30.])

Write a code to return the sum of values [90.0, 28.0, 30.0]
from the array with floating data type you just updated in
question (2).

In [6]:
result = arr1[[2,3,4]].sum()
result

np.float64(148.0)

Create a 2-dimensional array of random integers from 0 to
100 with the shape (5, 5). Use the array to find the
minimum and maximum values, as well as the mean and
standard deviation. Ensure that the results are
reproducible.

In [ ]:
rng = np.random.default_rng(seed=42)
array1 = rng.integers(low=0, high=100, size=(5,5))

min_val = array1.min()
max_val = array1.max()
mean_val = array1.mean()
std_val = array1.std()

Using NumPyâ€™s char.join() function, create two arrays by
joining the first name with the last name. Your first array
should be: array(['John', 'Smith'], dtype='U6'). Your second
array should be: array(['Kenny', 'Sakula'], dtype='U6').

In [9]:
first_names = ["John", " Kenny"]
last_names = ["Smith", " Sakula"]
full_name = np.char.join("", [first_names, last_names])

#Using slicing to return the first and second arrays
arr1 = full_name[:,0]
arr2 = full_name[:,1]
arr1, arr2

(array(['John', 'Smith'], dtype='<U7'),
 array([' Kenny', ' Sakula'], dtype='<U7'))