In [1]:
import pandas as pd
names = ["Joe", "Phil", "Ken", "Jos", "Luke"]
miles_run = [120, 80, 100, 90, 85]
time_in_hrs = [40, 38, 45, 50, 50]

1. Create a DataFrame from the lists above using pandas

In [2]:
df = pd.DataFrame({"names": names, "miles_run": miles_run, "time_in_hours": time_in_hrs})
df

  names  miles_run  time_in_hours
0   Joe        120             40
1  Phil         80             38
2   Ken        100             45
3   Jos         90             50
4  Luke         85             50

2. More information has become available below. Create a
new DataFrame with this information. Merge it to the
DataFrame above using pandas concat() function.

In [6]:
# new information
names = ["Joe", "Phil", "Ken", "Jos", "Luke"]
Age = [45, 28, 21, 55, 62]
gender = ["M", "M", "F", "F", "M"]

# creating new dataframe
new_df = pd.DataFrame({"names": names, "Age": Age, "gender": gender})

# Concatenate new DataFrame to Old DataFrame and drop name column
df = pd.concat([df, new_df.drop(columns="names")], axis=1)
df

  names  miles_run  time_in_hours  Age gender
0   Joe        120             40   45      M
1  Phil         80             38   28      M
2   Ken        100             45   21      F
3   Jos         90             50   55      F
4  Luke         85             50   62      M

3. Shuffling DataFrames can randomize the data. Write code
to reshuffle the index of the DataFrame.

In [7]:
df = df.sample(frac=1)
df

  names  miles_run  time_in_hours  Age gender
2   Ken        100             45   21      F
0   Joe        120             40   45      M
3   Jos         90             50   55      F
4  Luke         85             50   62      M
1  Phil         80             38   28      M

4. Explain why it may be important to reshuffle the index of
the data for machine learning.
- In many machine learning algorithms, the order of the data
in the training set can affect the final model. For example,
if the data is ordered by the target variable, an algorithm
that builds a model incrementally, like gradient descent,
will have an easier time fitting the model to the data.

- Shuffling the data can help prevent overfitting. If the data
is ordered by the target variable, an algorithm that uses all
the data to make predictions will tend to overfit the data
because it will learn to predict the target variable based on
the order of the data rather than the underlying patterns in
the data.

5. Using the pandas melt() function, reshape your DataFrame
to a long format. The "names" column must remain in
place.

In [9]:
df_set_long = pd.melt(df, id_vars=["names"],
                      var_name="Variable",
                      value_name="Values")
df_set_long

   names       Variable Values
0    Ken      miles_run    100
1    Joe      miles_run    120
2    Jos      miles_run     90
3   Luke      miles_run     85
4   Phil      miles_run     80
5    Ken  time_in_hours     45
6    Joe  time_in_hours     40
7    Jos  time_in_hours     50
8   Luke  time_in_hours     50
9   Phil  time_in_hours     38
10   Ken            Age     21
11   Joe            Age     45
12   Jos            Age     55
13  Luke            Age     62
14  Phil            Age     28
15   Ken         gender      F
16   Joe         gender      M
17   Jos         gender      F
18  Luke         gender      M
19  Phil         gender      M